h1{
    text-decoration: underline;
}
h2{
    text-decoration: underline;
}
body{
    color: white;
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
}